@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
  background: #d6d4d4;
  border-left: 10px solid rgb(161, 161, 161);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
blockquote:before {
  color: rgb(66, 28, 28);
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
